@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/6cefb2f5-90be-4f57-adc4-f6c3c579273d/3943990c-f4e0-4147-82ad-f531e2b547f3/IN-en-20240401-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 50rem;
    background-size: max(1440px, 100vw);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.main .box {
    height: 50rem;
    opacity: 0.69;
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75vw;
    margin: auto;
    height: 62px;
    padding-top: 15px;
}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button, nav select {
    position: relative;
    z-index: 10;
}

.main nav div{
    display: flex;
    justify-content: space-around;
    min-width: 20vw;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 77px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 13px;
    padding: 0 30px;
    text-align: center;
}

.hero> :nth-child(1) {
    /*apply to first immediate child only*/
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-align: center;
}

.hero:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero.end span {
    margin-top: 40px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    text-align: center;
}

.hero.end input{
    padding: 15px 200px 15px 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.separation {
    background-color: rgb(46, 44, 44, 0.9);
    height: 7px;
}

.btn {
    padding: 6px 15px;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;
    cursor: pointer;

}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.red-btn {
    background-color: red;
    color: white;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 20px;
    border: none;
}

a:link, a:visited {
    text-decoration: none;
}

.main input {
    padding: 15px 200px 15px 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-red-sm {
    background-color: rgba(255, 0, 0, 0.95);
    color: white;
    border: none;
    font-weight: 600;
}

.first {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
}


.sec-img {
    position: relative;
}

.sec-img img {
    position: relative;
    width: 38vw;
    z-index: 10;
}

.sec-img video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    max-width: 73%;
    max-height: 80%;
}

.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.third .sec-img video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -89%);
    max-width: 63%;
    max-height: 80%;
}

.faq{
    padding: 70px;
}

.faq h2{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 20px;
}


.faq-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-box li{
    width: 72vw;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    background-color: rgba(60, 60, 60,0.74);
    margin: 5px auto;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
    color:white;
    transition: all 0.5s ease-out;

}

.faq-box li:hover{
    background-color: rgba(95, 94, 94, 0.74);
}

footer{
    color: rgba(255, 255, 255, 0.7);
    padding: 70px;
    margin: 0 90px;
}

.footer{
    max-width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 40px;
    padding: 30px 0;
}

footer div a, footer a{
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
}

.footer-item{
    display: flex;
    flex-direction: column;
    grid-row-gap:12px;
}

.final{
    margin-bottom: 20px;
}


@media screen and (max-width:960px) {
    .first{
        flex-wrap: wrap;
    }
    .hero> :nth-child(1){
        font-size: 36px;
    }
    .first>div :first-child{
        font-size: 36px;
        text-align: center;
    }
    .first>div :nth-child(2){
        font-size: 16px;
        text-align: center;
    }
    .faq h2{
        font-size: 36px;
    }
    nav img{
        width: 120px;
    }
    .main input, .hero.end input{
        padding: 10px 115px 10px 10px 
    }
    .red-btn{
        font-size: 18px;
        padding: 10px 20px;
    }
    .hero-buttons{
        flex-wrap: wrap;
    }
    .main nav div{
        min-width: 20vw;
    }
    .sec-img img {
        width: 70vw;
    }

}

@media screen and (max-width:600px) {
    .hero> :nth-child(1){
        font-size: 24px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 20px;
    }
    .first>div :first-child{
        font-size: 24px;
    }
    footer{
        margin: 0 45px;
        padding: 35px
    }
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    nav{
        margin: 0 20px ;
        max-width: 100%;
    }
    nav img{
        width: 100px;
    }
    .main nav div{
        min-width: 35vw;
    }
    .faq h2{
        font-size: 24px;
    }
    .faq-box li{
        font-size: 18px;
        padding: 18px;
    }
    .faq-box li svg{
        width: 24px;
        height: 24px;
    }
    .sec-img img {
        width: 80vw;
    }
}